@import "tailwindcss";

@layer theme {
    :root {
        --color-first: #1C1E25;
        --color-second: #23272f;
        --color-third: #2b303b;
        --color-alter: #58C4DC;
        --color-input: #333944;
        --color-text: #F6F7F9;
        --color-time: #929AAB;
        --color-border: #2E2F34;

        --spacing-3xs: 7px;
        --spacing-2xs: 9px;
        --spacing-xs: 12px;
        --spacing-sm: 14px;
        --spacing-md: 16px;
        --spacing-lg: 18px;
        --spacing-xl: 20px;
        --spacing-2xl: 24px;
        --spacing-3xl: 32px;
        --spacing-4xl: 40px;
        --spacing-5xl: 48px;
    }
}

@layer base {
    ::-webkit-scrollbar {
        width: var(--spacing-2xs);
        height: var(--spacing-2xs);
    }

    ::-webkit-scrollbar-track {
        background-color: var(--color-first);
        border-radius: var(--spacing-3xl);
    }

    ::-webkit-scrollbar-thumb {
        background-color: var(--color-third);
        border-radius: var(--spacing-3xl);
    }

    * {
        margin: 0;
        padding: 0;
    }

    html {
        font-family: ui-sans-serif;
        color: var(--color-text);
        font-size: var(--spacing-md);
        background-color: var(--color-first);
    }
}

@layer components {
    #root {
        display: grid;
        grid-template-columns: max-content 29dvw 2fr;
        min-height: 100dvh;
        font-family: sans-serif;
    }

    .chat-nav {
        display: grid;
        grid-template-columns: 1fr;
        place-content: center;
        border-right: 1px solid var(--color-border);
        color: var(--color-text);
    }

    .chat-nav-link {
        width: 63px;
        height: 63px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        color: whitesmoke;
    }

    .chat-nav-link:hover,
    .chat-nav-link.active {
        background-color: var(--color-third);
    }

    .chat-menu {
        background-color: var(--color-second);
        border-right: 1px solid var(--color-border);
        box-sizing: border-box;
        padding-right: var(--spacing-md);
    }

    .chat-menu-header {
        display: flex;
        align-items: center;
        column-gap: var(--spacing-md);
        justify-content: space-between;
        border-bottom: 1px solid var(--color-border);
        margin-left: var(--spacing-md);
    }

    .chat-menu-title {
        font-size: var(--spacing-3xl);
        padding: var(--spacing-lg) 0;
    }

    .chat-menu-pref-lang {
        display: flex;
        align-items: center;
        column-gap: var(--spacing-md);
    }

    .chat-menu-pref-lang-item {
        cursor: pointer;
    }

    .chat-menu-pref-lang-item:hover,
    .chat-menu-pref-lang-item.active {
        color: var(--color-alter);
        text-decoration: underline;
    }

    .chat-menu-list {
        overflow: auto;
        max-height: 80dvh;
        padding: var(--spacing-lg) var(--spacing-md) 0 var(--spacing-md);
        margin-top: var(--spacing-lg);
    }

    .chat-menu-visit {
        color: var(--color-alter);
        text-decoration: none;
        font-weight: bold;
    }

    .chat-menu-visit:hover {
        text-decoration: underline;
    }

    .chat-menu-list-item {
        cursor: pointer;
        display: grid;
        grid-template-columns: max-content 1fr max-content;
        align-items: center;
        column-gap: var(--spacing-xs);
        padding: var(--spacing-xs);
        border-radius: var(--spacing-2xs);
        margin-bottom: var(--spacing-sm);
        border-width: 1px;
        border-style: solid;
        border-color: transparent;
    }

    .chat-menu-list-item.active,
    .chat-menu-list-item:hover {
        background-color: var(--color-third);
    }

    .chat-menu-list-item:hover {
        border-color: var(--color-alter);
    }

    .chat-menu-list-item-title {
        overflow: hidden;
        white-space: nowrap;
    }

    .chat-menu-list-item-title-desc {
        margin-top: 4px;
        font-size: var(--spacing-sm);
    }

    .chat-menu-list-item-tag {
        border: 1px solid var(--color-alter);
        font-size: var(--spacing-xs);
        color: var(--color-alter);
        padding: 4px;
        border-radius: 3px;
    }

    .chat-menu-list-item-img {
        min-width: 35px;
        min-height: 35px;
        max-width: 35px;
        max-height: 35px;
        border-radius: 99px;
        background-color: var(--color-third);
        object-fit: cover;
    }

    .chat-to-bottom {
        position: fixed;
        bottom: 50%;
        right: var(--spacing-md);
        transform: translateY(-50%);
        min-width: 30px;
        min-height: 30px;
        max-width: 30px;
        max-height: 30px;
        border-radius: 5px;
        background-color: var(--color-third);
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid var(--color-border);
        border-color: var(--color-alter);
        cursor: pointer;
    }

    .chat-to-bottom:hover {
        background-color: var(--color-first);
    }

    .chat-messages {
        display: grid;
        grid-template-rows: 8dvh 80dvh 12dvh;
        background-image: url("bg-chat.png");
    }

    .chat-messages-date-separator {
        place-self: center;
        font-size: var(--spacing-xs);
        font-weight: 600;
    }

    .chat-messages-header,
    .chat-messages-footer {
        box-sizing: border-box;
        align-items: center;
        padding: 0 var(--spacing-md);
    }

    .chat-messages-header {
        display: grid;
        grid-template-columns: 1fr max-content;
        background-color: var(--color-third);
        border-bottom: 1px solid var(--color-border);
        gap: var(--spacing-md);
        justify-content: space-between;
    }

    .chat-messages-header-title {
        overflow: hidden;
        white-space: nowrap;
    }

    .chat-messages-header-helper-menu {
        display: none;
    }

    .chat-messages-content {
        overflow-y: auto;
        overflow-x: hidden;
        display: grid;
        grid-template-columns: 1fr;
        gap: var(--spacing-sm);
        grid-auto-rows: max-content;
        padding: var(--spacing-md);
        max-height: 80dvh;
    }

    .chat-messages-load-more {
        border: 1px solid var(--color-alter);
        padding: 4px 8px;
        width: max-content;
        font-size: var(--spacing-xs);
        border-radius: 5px;
        color: var(--color-alter);
        cursor: pointer;
        justify-self: center;
    }

    .chat-messages-load-more:hover {
        font-weight: 600;
        background-color: var(--color-alter);
        color: var(--color-first);
    }

    .chat-messages-content-others-wrapper,
    .chat-messages-content-me {
        border: 1px solid var(--color-border);
        padding: var(--spacing-2xs);
        box-sizing: border-box;
        border-radius: var(--spacing-2xs);
        min-width: 111px;
        width: max-content;
        max-width: 60dvw;
        word-break: break-word;
        overflow-wrap: break-word;
        white-space: normal;
    }

    .chat-messages-content-others {
        display: flex;
        align-items: center;
        column-gap: var(--spacing-sm);
    }

    .chat-messages-content-others-picture {
        max-width: 30px;
        max-height: 30px;
        min-width: 30px;
        min-height: 30px;
        object-fit: cover;
        border-radius: 99px;
        background-color: var(--color-second);
        border: 1px solid var(--color-border);
        padding: var(--spacing-3xs);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .chat-messages-content-others-header {
        display: flex;
        column-gap: var(--spacing-3xs);
        align-items: center;
        margin-bottom: 2px;
    }

    .chat-messages-content-others-header-person {
        font-weight: 600;
    }

    .chat-messages-content-others-header-role {
        color: var(--color-alter);
    }

    .chat-messages-content-others-wrapper {
        background-color: var(--color-second);
    }

    .chat-messages-content-me-time,
    .chat-messages-content-others-wrapper-time {
        margin-top: 2px;
        color: var(--color-time);
        font-size: var(--spacing-xs);
        justify-self: end;
    }

    .chat-messages-content-me {
        background-color: var(--color-third);
        justify-self: end;
    }

    .chat-messages-footer {
        display: grid;
        grid-template-columns: 1fr max-content;
        column-gap: var(--spacing-md);
    }

    .chat-messages-input {
        background-color: var(--color-input);
        outline: none;
        padding: var(--spacing-sm) var(--spacing-xl);
        border-radius: 111px;
        color: var(--color-text);
        font-size: var(--spacing-lg);
        border: 1px solid var(--color-border);
        max-width: 80dvw;
        box-sizing: border-box;
    }

    .chat-messages-send {
        width: var(--spacing-4xl);
        height: var(--spacing-4xl);
        border-radius: 111px;
        display: flex;
        background-color: var(--color-third);
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border: 1px solid var(--color-border);
        border-color: var(--color-alter);
        box-sizing: border-box;
    }

    .chat-messages-send:hover {
        box-shadow: 0 0 4px 1px #58C4DC;
    }

    @media screen and (max-width: 800px) {
        #root {
            grid-template-columns: 1fr;
        }

        .chat-menu {
            position: fixed;
            top: 0;
            left: -80dvw;
            width: 80dvw;
            height: 100dvh;
            transition: 0.3s;
        }

        .chat-messages {
            max-width: 100dvw;
            width: 100dvw;
        }

        .chat-menu.active {
            left: 0;
        }

        .chat-nav {
            display: none;
        }

        .chat-messages-header-helper-menu {
            display: block;
        }
    }

    @media screen and (max-width: 370px) {
        .chat-messages-input {
            max-width: 70dvw;
        }
    }

    @media screen and (max-width: 300px) {
        .chat-messages-input {
            max-width: 65dvw;
        }
    }
}