name: CD Pipeline - Production

on:
  push:
    branches: [ master ]

jobs:
  smoke-test:
    uses: ./.github/workflows/cd-smoke-test.yaml

  k6-test:
    needs: smoke-test
    uses: ./.github/workflows/cd-k6-testing.yaml

  build-and-push:
    needs: smoke-test
    uses: ./.github/workflows/cd-upload-apps.yaml
    secrets: inherit